 .app{
   min-height: 100vh;
   background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
 }
 .search_button{
   /* background: ; */
   border: none;
   padding: 10px 20px;
   color: white;
 }
 