.App{
   min-height: 100vh;
   /* background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%); */
   background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}
.search_button{
   background: #1450c0;
   border: none;
   padding: 1em 2em;
   color: white;
}
.search_input{
  padding: 1em 10em;
  border: none;
  
}
.search_form{
   text-align: center;
   margin-bottom: 2em;

}
.recipe_book{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
    
}
